<div class="container" id="body">
  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <div class="face face1" id="part1">
          <div class="content">
            <img src="./assets/1.jpg" alt="#">
          </div>
        </div>
        <div class="face face2">
          <div class="content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident
              at.</p>
            <a href="https://www.youtube.com/channel/UCm-vfzxyCmFJ65sMeM-PMyQ">Read More</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="face face1" id="part1">
          <div class="content">
            <img src="./assets/1.jpg" alt="#">
          </div>
        </div>
        <div class="face face2">
          <div class="content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident
              at.</p>
            <a href="https://www.youtube.com/channel/UCm-vfzxyCmFJ65sMeM-PMyQ">Read More</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="face face1" id="part1">
          <div class="content">
            <img src="./assets/1.jpg" alt="#">
          </div>
        </div>
        <div class="face face2">
          <div class="content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident
              at.</p>
            <a href="https://www.youtube.com/channel/UCm-vfzxyCmFJ65sMeM-PMyQ">Read More</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="card">
        <div class="face face1" id="part1">
          <div class="content">
            <img src="./assets/1.jpg" alt="#">
          </div>
        </div>
        <div class="face face2">
          <div class="content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident
              at.</p>
            <a href="https://www.youtube.com/channel/UCm-vfzxyCmFJ65sMeM-PMyQ">Read More</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="card">
        <div class="face face1" id="part1">
          <div class="content">
            <img src="./assets/1.jpg" alt="#">
          </div>
        </div>
        <div class="face face2">
          <div class="content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident
              at.</p>
            <a href="https://www.youtube.com/channel/UCm-vfzxyCmFJ65sMeM-PMyQ">Read More</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
