.movie-list {


    .card {
        position: relative;
        
        &-content {
            position: absolute;
            left: 0;
            top: 100%;
            opacity: 0;
            visibility: hidden;
            transition: all .35s ease-in-out;
            z-index: 2;
        }

        &:hover {
            i{transform:scale(0.85)};
            p{transform:scale(0.85);                
             margin-top: -8px };
            h5{transform:scale(0.85)};
            transform:scale(1.2);      
            .card-content {

                opacity: 1;
                visibility: visible;
                background-color: rgb(15,23,30);
                .footer{
                    font-size: 14px;
                }
                .fa-play-circle{
                    font-size: 25px;
                }
                .fa-ban{
                    margin-right: 20px;
                    margin-left: 150px;
                    
                }
                .fa-pluss{
                    margin-top: 15px;
                
                }
             
            }
        }
    }
}

