#back {
  background-color: rgb(27, 37, 48);
  height: 77px;
}

#Search:hover {
  border: 0.3px solid white;
}

#Search {
  width: 252px;
  height: 39px;
  border: 00.3px solid grey;
  background-color: rgb(27, 37, 47);
  color: white;
}

.box>input {
  height: 40px;
  border: none;
  outline: none;
  font-size: 18px;
  padding-left: 10px;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconSearch {
  margin-left: -50px !important;
  font-size: 20px;
  color: #777;
}
// .dropdown:hover>.dropdown-menu{
//   display: block; 
// }

// #back .navbar-nav li > a {
// 	text-transform: capitalize;
// 	color: rgb(206, 195, 195);
// 	transition: background-color .2s, color .2s;
 
// 	&:hover,
//   &::after,
// 	&:focus,
//   &:active {
// 		color: #fff;
//     border-bottom: 1px solid #fff;
//     -webkit-box-sizing: border-box;
//     -moz-box-sizing: border-box;
//          box-sizing: border-box;
// 	}
// }

// #topheader .navbar-nav li.active > a {
// 	background-color: #333;
// 	color: #fff;
// }


#back .navbar-nav .active-link{

  border-bottom: 1px solid white;
}

