<div class="container-fluid">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators text-white">
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active bg-white "
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" class="bg-white "
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" class="bg-white"
            aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" class="bg-white"
            aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4" class="bg-white"
            aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="5" class="bg-white"
            aria-label="Slide 6"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="6" class="bg-white"
            aria-label="Slide 7"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="7" class="bg-white"
            aria-label="Slide 8"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="8" class="bg-white"
            aria-label="Slide 9"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="9" class="bg-white"
            aria-label="Slide 10"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active mt-sm-5" data-bs-interval="10000">
            <img src=".././assets/1slider.jpg" class="rounded mx-auto d-block img-fluid mt-sm-5" alt="#" height="380px" width="1700px">
            <div class="carousel-caption d-none d-md-block">

            </div>
          </div>
          <div class="carousel-item mt-sm-5" data-bs-interval="5000">
            <img src=".././assets/2slider.jpg" class="rounded mx-auto d-block  img-fluid mt-sm-5" alt="#" height="380px" width="1700px">
            <div class="carousel-caption d-none d-md-block">

            </div>
          </div>
          <div class="carousel-item mt-sm-5" data-bs-interval="5000">
            <img src=".././assets/3slider.jpg" class="rounded mx-auto d-block  img-fluid mt-sm-5" alt="#" height="380px" width="1700px">
            <div class="carousel-caption d-none d-md-block">

            </div>
          </div>
          <div class="carousel-item mt-sm-5" data-bs-interval="5000">
            <img src=".././assets/4slider.jpg" class="rounded mx-auto d-block  img-fluid mt-sm-5" alt="#" height="380px" width="1700px">
            <div class="carousel-caption d-none d-md-block">

            </div>
          </div>
          <div class="carousel-item mt-sm-5" data-bs-interval="5000">
            <img src=".././assets/5slider.jpg" class="rounded mx-auto d-block  img-fluid mt-sm-5" alt="#" height="380px" width="1700px">
            <div class="carousel-caption d-none d-md-block">

            </div>
          </div>
          <div class="carousel-item mt-sm-5" data-bs-interval="5000">
            <img src=".././assets/6slider.jpg" class="rounded mx-auto d-block  img-fluid mt-sm-5" alt="#" height="380px" width="1700px">
            <div class="carousel-caption d-none d-md-block">

            </div>
          </div>
          <div class="carousel-item mt-sm-5" data-bs-interval="5000">
            <img src=".././assets/7slider.jpg" class="rounded mx-auto d-block  img-fluid mt-sm-5" alt="#" height="380px" width="1700px">
            <div class="carousel-caption d-none d-md-block">

            </div>
          </div>
          <div class="carousel-item mt-sm-5" data-bs-interval="5000">
            <img src=".././assets/8slider.jpg" class="rounded mx-auto d-block  img-fluid mt-sm-5" alt="#" height="380px" width="1700px">
            <div class="carousel-caption d-none d-md-block">

            </div>
          </div>
          <div class="carousel-item mt-sm-5" data-bs-interval="5000">
            <img src=".././assets/9slider.jpg" class="rounded mx-auto d-block  img-fluid mt-sm-5" alt="#" height="380px" width="1700px">
            <div class="carousel-caption d-none d-md-block">

            </div>
          </div>
          <div class="carousel-item mt-sm-5" data-bs-interval="5000">
            <img src=".././assets/10slider.jpg" class="rounded mx-auto d-block  img-fluid mt-sm-5" alt="#" height="380px" width="1700px">
            <div class="carousel-caption d-none d-md-block">

            </div>
          </div>

          <button id="prevprev" class="carousel-control-prev mt-sm-5 " type="button" data-bs-target="#carouselExampleDark"
          data-bs-slide="prev">
          <i class="fas fa-chevron-left text-white h3 mt-sm-5 "  aria-hidden="true"></i>
          <span class="visually-hidden ">Previous</span>
          </button>
          <button id="prepre" class="carousel-control-next mt-sm-5" type="button" data-bs-target="#carouselExampleDark"
          data-bs-slide="next">
          <i class="fas fa-chevron-right text-white h3 mt-sm-5"  aria-hidden="true"></i>
          <span class="visually-hidden">Next</span>
          </button>
         

        </div>
      </div>


    </div>
    <div class="col-sm-1"></div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <span>
        <div class="mt-3 ms-4"><span class="fs-5 fw-bold text-white me-2 ">Amazon Orijinal ve Özel İçerikler</span>  <a href="#" class="text-decoration-none small fs-6 ">Daha Fazlasını Gör</a></div>
        
      </span>
    </div>
  </div>
</div>
