    <ngx-spinner></ngx-spinner>
    <app-navbar></app-navbar>
    <app-carousel></app-carousel>
    <div class="list">
      <app-posts [cards]="posts"></app-posts>
    </div>
    <div class="list">
      <app-posts [title]="'Önerilen Filmler'" [cards]="postwo"></app-posts>
    </div>
    <div class="list">
      <app-posts [cards]="posthree"></app-posts>
    </div>
    <div class="list">
      <app-posts [cards]="postfor"></app-posts>
    </div>
    <div class="list">
      <app-posts [title]="'İzlemeye Devam Et'" [cards]="postfive"></app-posts>
    </div>
    <div class="list">
        <app-posts [title]="'alt yazılı TV dizileri ve filmler'" [cards]="postsix"></app-posts>
      </div>
      <div class="list">
        <app-posts [title]="'Dram Filmleri'" [cards]="postseven"></app-posts>
      </div>
      <div class="list">
        <app-posts [title]="'Aksiyon ve Macera Filmleri'" [cards]="posteight"></app-posts>
      </div>
      <div class="list">
        <app-posts [title]="'Önerilen TV'" [cards]="postnine"></app-posts>
      </div>
      <div class="list">
        <app-posts [title]="'Gerilim Filmleri'" [cards]="postfive"></app-posts>
      </div>

    <div class="list">
      <app-footer></app-footer>
    </div>
